In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error

In [12]:

data = pd.read_csv('train.csv')
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [13]:

data.shape

(8522, 12)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8522 entries, 0 to 8521
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8522 non-null   object
 1   Item_Weight                7059 non-null   float64
 2   Item_Fat_Content           8522 non-null   object
 3   Item_Visibility            8522 non-null   float64
 4   Item_Type                  8522 non-null   object
 5   Item_MRP                   8522 non-null   float64
 6   Outlet_Identifier          8522 non-null   object
 7   Outlet_Establishment_Year  8522 non-null   int64
 8   Outlet_Size                6112 non-null   object
 9   Outlet_Location_Type       8522 non-null   object
 10  Outlet_Type                8522 non-null   object
 11  Item_Outlet_Sales          8522 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.1+ KB

In [15]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [16]:

data.duplicated().sum()

0

In [17]:
data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [18]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
data['Item_Weight'] = imputer.fit_transform(data[['Item_Weight']])

In [19]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [44]:
data.drop(columns=['Outlet_Size'],axis=1,inplace=True)

In [45]:
data.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [48]:
data.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,8522.000000,8522.000000,8522.000000,8522.000000,8522.000000
mean,12.857370,0.066135,141.000471,1997.831964,2181.455027
std,4.226319,0.051600,62.274675,8.372247,1706.530835
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,9.310000,0.026988,93.844250,1987.000000,834.913200
50%,12.857370,0.053935,143.014100,1999.000000,1794.331000
75%,16.000000,0.094594,185.652250,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [50]:

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [51]:
encoder = LabelEncoder()

In [54]:
for i in (data.select_dtypes(['object'])):
    data[i] = encoder.fit_transform(data[i])

In [55]:
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,156,9.300,1,0.016047,4,249.8092,9,1999,0,1,3735.1380
1,8,5.920,2,0.019278,14,48.2692,3,2009,2,2,443.4228
2,662,17.500,1,0.016760,10,141.6180,9,1999,0,1,2097.2700
3,1121,19.200,2,0.000000,6,182.0950,0,1998,2,0,732.3800
4,1297,8.930,1,0.000000,9,53.8614,1,1987,2,1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...
8517,389,20.750,4,0.083607,5,178.8318,8,1997,0,1,3608.6360
8518,370,6.865,1,0.056783,13,214.5218,1,1987,2,1,2778.3834
8519,897,8.380,2,0.046982,0,108.1570,7,2002,1,1,549.2850
8520,1357,10.600,1,0.035186,8,85.1224,6,2004,1,1,1193.1136
8521,681,7.210,2,0.145221,13,103.1332,3,2009,2,2,1845.5976

In [56]:

X = data.drop(columns = 'Item_Outlet_Sales', axis = 1)
y = data['Item_Outlet_Sales']

In [57]:
print(X.shape,'\n',y.shape)

(8522, 10)
 (8522,)

In [58]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [60]:
rf = RandomForestRegressor(random_state=42)

# Step 5: Define the hyperparameters to tune
param_grid = {
    'n_estimators': [50, 100, 200],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'bootstrap': [True, False]
}

In [61]:
grid_search = GridSearchCV(estimator=rf, param_grid=param_grid, cv=3, n_jobs=-1, verbose=2)

# # Step 7: Train the model with the best hyperparameters
# grid_search.fit(X_train, y_train)

# # Get the best parameters
# best_params = grid_search.best_params_
# print("Best parameters found: ", best_params)

# # Train the Random Forest Regressor with the best parameters
# best_rf = grid_search.best_estimator_

# # Step 8: Evaluate the model
# y_pred = best_rf.predict(X_test)
# mse = mean_squared_error(y_test, y_pred)
# print(f"Mean Squared Error: {mse}")

In [62]:
grid_search.fit(X_train, y_train)

Fitting 3 folds for each of 648 candidates, totalling 1944 fits

GridSearchCV(cv=3, estimator=RandomForestRegressor(random_state=42), n_jobs=-1,
             param_grid={'bootstrap': [True, False],
                         'max_depth': [None, 10, 20, 30],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10],
                         'n_estimators': [50, 100, 200]},
             verbose=2)

In [63]:
best_params = grid_search.best_params_
print("Best parameters found: ", best_params)

Best parameters found:  {'bootstrap': True, 'max_depth': 10, 'max_features': 'sqrt', 'min_samples_leaf': 1, 'min_samples_split': 10, 'n_estimators': 200}

In [64]:
best_rf = grid_search.best_estimator_

In [66]:
y_pred = best_rf.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 1146877.0495395968

In [69]:
from sklearn import metrics
metrics.r2_score(y_test, y_pred)

0.6033388748070361

In [71]:

input1 = (743,18.600,0,0.039356,5,246.3802,9,1999,0,1)
new_input = np.asanyarray(input1, dtype = float)
prediction = best_rf.predict(new_input.reshape(1, -1))
print(prediction)

[3953.79632161]

In [73]:
sales_rf = best_rf

In [75]:

import pickle
pickle.dump(sales_rf, open('sales_rf.pkl', 'wb'))